{% extends "base.html.twig" %}
{% block title %} Articles {% endblock %}
{% block body %}
   <h1>{{ article.title }}</h1>
   <p>{{ article.body }}</p>
   <hr>
   <a href="/">Go Back</a>
{% endblock %}